/* Menambahkan font Montserrat-Regular */
@font-face {
 font-family: 'Montserrat';
 src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
 font-weight: 400;
 /* Normal weight */
 font-style: normal;
}

/* Menambahkan font Montserrat-Bold */
@font-face {
 font-family: 'Montserrat';
 src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
 font-weight: 700;
 /* Bold weight */
 font-style: normal;
}

@theme {
 --font-montserrat: "Montserrat", sans-serif;
}