@import "tailwindcss";
@import "./container.css";
@import "./theme.css";
@import "./font.css";


@layer base {
 h1 {
  font-size: 24px;
  line-height: 28px;
 }

 h2 {
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
 }

 h3 {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
 }

 h4 {
  font-size: 14px;
 }

 .button-number {
  @apply bg-secondary w-12 h-12 text-white rounded-full flex justify-center items-center shrink-0;
 }

 .button-number-text {
  @apply text-sm md:text-base font-semibold text-white;
 }

 .card {
  border: 1px solid #FFFFFF26;
  box-shadow: 0px 3.68px 7.36px 0px #0000001A;
  padding: 30px;
  border-radius: 10px;
  background: #272B35;
 }


}