@import "tailwindcss";
@import "./container.css";
@import "./theme.css";
@import "./font.css";


@layer base {
 h1 {
  font-size: 24px;
  line-height: 28px;
 }

 h2 {
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
 }

 h3 {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
 }

 h4 {
  font-size: 14px;
 }


}